{% extends 'base.html' %}

{% block head %}
<title>BMI | Home</title>
{% endblock %}


{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>BMI Calculator</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mt-4 home-card-1">
                    <div class="card-body">
                        <a href="{% url 'matric' %}"><input class="btn btn-primary" type="button" value="Matric"></a>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mt-4 home-card-2">
                    <div class="card-body">
                        <a href="{% url 'imperial' %}"><input class="btn btn-default" type="button" value="Imperial"></a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}