<style type="text/css">
    body {
		background-color: white;
		font-family: "Segoe UI";
		font-weight: 380;
	}

    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(129, 129, 129);
    }

    a{
        text-decoration: none;
    }

    .card{
        text-align: center;
        border: none;
    }

    .main-card{
        border: 1px solid;
        border-color:rgb(161, 161, 161)

    }
    .home-card-1{
        text-align: end;
    }
    .home-card-2{
        text-align: start;
    }

    p{
        font-size: x-large;
        color: rgb(58, 58, 58);
    }
    .inputs{
        width: 300px;
        height: 45px;
        border-radius: 3px;
        font-size: large;
        padding-left: 5px;
        color: rgb(58, 58, 58);
        border: 1px solid;
        border-color:rgb(161, 161, 161)
    }

    .btn-success{
        width: 300px;
        height: 45px;
        font-size:large;


    }


    .btn-primary{
        width: 230px;
        height: 75px;
        font-size: x-large;
        border-radius: 5px;
    }

    .btn-default{
        width: 230px;
        height: 75px;
        font-size: x-large;
        border-radius: 5px;
        background-color: gray;
        color: white;
    }

    .container{
        margin-top: 100px;
        padding-top: 100px;
    }

    .btn-container{
        float: left;
        padding-top: 20px;
    }

    .result-container{
        padding-top: 5px;
        text-align: center;
    }

    .result-card{
        width: 100%;
        background-color: rgb(247, 172, 172);
    }


</style>